.object-fit-cover {
  object-fit: cover;
}

.h-15em {
	height:15em;
}

.h-18em {
	height:15em;
}

.word-wrapping {
	white-space: pre-line;
	word-wrap: break-word;
}

.padding-bottom-1em {
	padding-bottom: 1em;
}

.padding-margin-0{
	padding:0;
	margin:0;
}

.um-image-caption-link:hover .um-image-container{
	opacity: .2;
}

.um-image-caption-link:hover .um-caption-container{
	opacity: 1;
}

.um-image-container{
	transition: 1s;
 	opacity: 1;
}

.um-caption-container{
	transition: 1s;
 	opacity: 0;
 	/*font-size: 0.5em;*/
 	word-break:break-all;
 	/*twice the padding applied by template + an extra 15px. 
 	Necessary because the item this class applies to is absolutely positioned*/
 	padding-right:30px; 
 	padding-left:30px;
}

.padding-1em{
	padding:1em;
}


.nav-link{
	background:none!important;
}

.font-size-caption{
	font-size:1em;
}

.font-size-caption-hashtag{
	font-size:3em;
}

.padding-left-0{
	padding-left:0;
}

.padding-right-0{
	padding-right:0;
}

.justify{
	text-align: justify;
}


.pagination span{
	width: 100%;
}

.pagination a{
	color: white;
	text-decoration: none;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 160px;
}

.archive-link:hover {
	text-decoration: none;
}


/*.archive-row-even{
	background-color: #212529;
}

.archive-row-odd{
	background-color: #f8f9fa;
}*/

.archive-row-odd h4{
	color: #212529;
}

.archive-row-even	 h4{
	color: 	#e9ecef;
}

.archive-img-container{
	padding: 10px;
}

.archive-img-container-inner{
	height: 160px;
	overflow: hidden;
}

.archive-img{
	object-fit: cover;
	min-height: 160px;
}

.pagination{
	font-size: large;
}